<div class="phx-hero">
    <h1>Hello world, from Phoenix! 🔥 🐔</h1>

    <p>
        <a href={Routes.hello_path(@conn, :show, "Papa Franku")}>
            Say hello to Papa Franku
        </a>
    </p>

    <p>
        How I got here: <%= @var %>
    </p>
</div>
